.container {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

.container>div {
    flex: 1;
    background-color: var(--light-bg);
    border: 1px solid var(--border);
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    padding: 1em;
    border-radius: .5em;
}

.container>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}
.container>div:nth-of-type(2){
    max-height: 250px;
}
.wrapper h3{
    border-bottom: 1px solid var(--border);
    padding-bottom: .5em;
    color: var(--primary-color);
}

.wrapper ul{
    margin-top: 1em;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.links i, .links span{
    color: var(--font-color-light);
}
.links:hover i, .links:hover span{
    color: var(--font-color);
    filter: drop-shadow(0 0 10px var(--font-color));
}
.links a{
    display: flex;
    justify-content: space-between;
}
.links a > div:nth-of-type(1){
    display: flex;
    gap: .5em;
}

.red{
    color: crimson;
}

.form{
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: 1em;
}
.grp{
    display: flex;
    flex-direction: column;
    gap: .2em;
}
.grp input, textarea{
    padding: .75em 1em;
    border: 1px solid var(--border);
    background-color: var(--secondary-color);
    border-radius: .5em;
}
.grp input:focus-within, textarea:focus-within{
    border-color: var(--border-focus);
    outline: 3px solid var(--primary-color);
    outline-offset: 2px;
}
.grp input::placeholder, textarea::placeholder{
    color: var(--font-color-light);
}
.form button{
    padding: .75em 1em;
    border: 0;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: .3em;
}

@media (max-width:771px) {
    .container{
        flex-direction: column;
        gap: 1em;
    }
}
