main{
    width: min(90%, 1024px);
    margin: 0 auto;
    padding-bottom: 4em;
}

.nav-link {
    position: relative;
    color: var(--font-color-light);
}

.nav-link::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 70%;
    background-color: var(--primary-color);
    left: 0;
    bottom: -.3em;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

#mobile .nav-link::before{
    background-color: var(--white);
}


.nav-link.active::before,
.nav-link:hover::before {
    transform: scaleX(1);
}
.button{
    margin-top: 2em;
    font-size: 1.5em;
    border: 0;
    background-color: transparent;
    position: relative;
}
.button::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50%;
    background-color: var(--font-color);
    left: 0;
    bottom: -.3em;
}
.to-right{
    display: flex;
    justify-content: flex-end;
}
.mark{
    color: var(--primary-color);
}
.footer{
    text-align: center;
    margin: 3em 0;
    padding-top: 2em;
    border-top: 1px solid var(--border);
    color: var(--font-color-light);
    font-size: small;
}
