.container {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

.container>div {
    flex: 1;
    background-color: var(--light-bg);
    border: 1px solid var(--border);
    box-shadow: 0 5px 30px rgba(0, 0, 0, .05);
    padding: 1em;
}

.container>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}
.wrapper h3{
    border-bottom: 1px solid var(--border);
    padding-bottom: .5em;
    color: var(--primary-color);
}
.wrapper p{
    margin-top: 1em;
    color: var(--font-color-light);
}

.wrapper .btns {
    margin-block-start: 1em;
    align-self: flex-start;
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 1em;
}
.btns button{
    flex: 1;
}
.wrapper ul{
    list-style: none;

    gap: 1em; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.links i, .links span{
    color: var(--font-color-light);
}
.links:hover i, .links:hover span{
    color: var(--font-color);
    filter: drop-shadow(0 0 10px var(--font-color));
}
.links a{
    display: flex;
    justify-content: space-between;
}
.links a > div:nth-of-type(1){
    display: flex;
    gap: .5em;
}

.btn_1{
    background-color: var(--light-bg);
    border: 0;
    padding: 0;
}

.btn_2{
    padding: 1em 2em;
background-color: var(--medium-bg);
border: 1px solid var(--border);
}


.wrapper:nth-last-of-type(1){
    background-color: transparent;
    padding: unset;
    border: unset;
}
.item{
    display: flex;
    align-items: center;
    background-color: var(--light-bg);
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    border: 1px solid var(--border);
}
.item div:nth-of-type(1){
    flex: 1;
    font-size: 2.5em;
    color: var(--primary-color);
    font-family: var(--font-2);
}
.item div:nth-of-type(2){
    flex: 3;
}

@media (max-width:771px) {
    .container{
        flex-direction: column;
        gap: 1em;
    }
    .wrapper .btns{
        margin-top: 2em;
    }
    .item div:nth-of-type(1){
        font-size:2em ;
    }
}